# Binaries
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out

# Go workspace and test artifacts
go.work
go.work.sum
*.coverprofile
profile.cov

# Dependency directory (if vendoring locally)
vendor/

# Environment and configuration files
.env

# IDE and OS specific files
.idea/
.DS_Store
*.swp

bin/
db/